{{!-- <h2>super sick html/css/flexbox/bootstrap page</h2> --}}

{{!-- <ul>
  <li><a href="/signup">sign up</a></li>
  <br>
  <li><a href="/login">log in</a></li>
  <br>
  <li><a href="/logout">log out</a></li>
  <br>
  <li><a href="/locationsearch">Search Locations!</a></li>

</ul> --}}

<h1>Park Spot</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-md-2">
      <br>
<div class="btn-group btn-group-lg">
<button class="btn btn-default"><a href="/signup">Signup</a></button>
<button class="btn btn-default"><a href="/locationsearch">Search</a></button>
</div>
</div>
</div>
</div>
</div>