<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center grey-text"><b>Park Spot</b></h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text">Find and share your spot to Park!</h5>
      </div>
      <div class="row center">
        <a href="/locationsearch" id="download-button" class="btn-large waves-effect waves-light grey">Start Searching!</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m2"></div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text"><i class="medium material-icons">location_searching</i></h2>
            <h5 class="center grey-text">Search for any Venue in the US!</h5>

            <p class="light grey-text">You can search up any location in the US that you'd like. Just type the name
              or something similar and choose the location!
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text"><i class="medium material-icons">directions_car</i></h2>
            <h5 class="center grey-text">View and Share Spots!</h5>

            <p class="light grey-text">Feel free to just view spots to park at or if you know of a few good spots you can
              add as many as you'd like!
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">One guy with not enough time.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">Park Spot</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>