<h2>super sick html/css/flexbox/bootstrap page</h2>

<ul>
  <li><a href="/signup">sign up</a></li>
  <br>
  <li><a href="/login">log in</a></li>
  <br>
  <li><a href="/logout">log out</a></li>


</ul>