




{{!-- <form action="/testpage"> --}}
<div class="container">
  <div class="col s12 m2">
  {{!-- <form class="row"> --}}
  <div class="input-field">
    <label for="search">Search</label>
<input id="search"type="text" class="search-venue" >
<button type="submit" class="submit-button">submit</button>
<div><h2>Search Results</h2></div>
</div>
{{!-- </form> --}}
</div>
</div>
{{!-- </form> --}}
{{!-- <div><h2>Search Results</h2></div> --}}
<div class="search-list">
  <div class="container">
    <div class="row">


    </div>
</div>
</div>



{{!-- 
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> --}}
