body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-search {
	display: block;
	border: 0;
	width: 300px;
  height: 200px;
  
  
}
#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
ul.onetest li {
  display: inline;
}
.card {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

